<div class="p-6 mb-6">
    <div class="mb-6">
        <h5 class=" block mb-2 text-3xl antialiased font-extrabold leading-snug tracking-normal text-blue-gray-900">
          {{currentQuestionIndex+1}}. {{ question.question }}
        </h5>
    </div>

    <div class="flex flex-col gap-4 text-left">

    <button *ngFor="let answer of question.options" 
    (click)="selectAnswer(answer)" 
    [ngClass]="[getButtonClass(answer)]" 
    [disabled]="isButtonDisabled(answer)"
    class="p-2 border-2 border-blue-200 bg-sky-50 rounded" >
    <div class="flex justify-between items-center gap-2">
        <p class="pl-2 text-left block font-sans text-base antialiased font-semibold leading-relaxed text-inherit">
            {{ answer }}
        </p>
        <span class="fa" [ngClass]="getIcon(answer)"></span>
    </div>

    </button>

    </div>          
</div>
