<div class="p-6 flex justify-center content-center h-[35rem]">

    <div class="my-16  p-6 px-11">
        <div class="text-center">
            <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1662506933/up_pobktq.gif" alt="heyy" class="h-28 w-28 rounded-full drop-shadow-lg mx-auto"/>
            <h3 class="mt-6 text-2xl capitalize font-bold"> Heyyyyy!</h3>
          <p class=" my-6 text-left"> <span class="font-bold">How are you?</span> Congratulations on completing the course! Here's a small quiz project I built during the course. Let's test ourselves with it! 
          </p>
          <button
          class="align-middle select-none  font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-md bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
          type="button"
          [routerLink]="['/quiz']"
          >
          Start
      </button>
        </div>
    </div>
   
</div>

